<!DOCTYPE html>
<html lang= "en">

<head>
    <link rel="stylesheet" type="text/css" href="source/css/CSS.css"/>
    <script src = "source/javascript/javascript.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Budgeteer will help you control your money and manage your expenses">
    <meta name="author" content="Tomás Carvalho">

    <title>Dashboard</title>
</head>

<body id = "dashboard">

    <nav class = "navbar">
        <ul class = "ul-menu">
            <li> <a class = "li-menu" href = "dashboard.html"> <img src = "source/imgs/logo1.png" alt = "logo"/> </a></li>
            <li> <a class = "li-menu active" href = "dashboard.html"> Dashboard</a></li>
            <li> <a class = "li-menu" href = "manageAccounts.html"> Manage Accounts </a></li>
            <li> <a class = "li-menu" href = "manageObjectives.html"> Manage Objectives </a></li>
            <li> <a class = "li-menu" style = "float:right" href = "index.html"> Log Out!</a></li>
        </ul>
    </nav>
    <div>
        <div>
            <!-- Graph with Balance Over Time -->
        </div>
        <div>
            <!-- My current Balance -->
            <h1 class = "centered"> Your Current Balance Is </h1>
            <h1 class = "centered positive"> 600,00€ </h1>
        </div>
        <div>
            <!-- Table with latest changes in my accounts -->
            <table id = "tableDashboard" class = "centered-list widthCentered">
                <caption> This month expenses </caption>
                <thead>
                    <tr>
                        <th> Amount </th>
                        <th> Account </th>
                        <th> Description </th>
                        <th> Date </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class = "negative"> -200€</td>
                        <td> Wallet </td>
                        <td> Romantic Dinner </td>
                        <td> 2016-11-25</td>
                    </tr>
                    <tr>
                        <td class = "negative"> -500€ </td>
                        <td> Current Account </td>
                        <td> Expenses with car </td>
                        <td> 2016-11-10 </td>
                    </tr>
                    <tr>
                        <td class = "positive"> +1300€ </td>
                        <td> Savings </td>
                        <td> Income </td>
                        <td> 2016-11-02</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class = "marginDiv">
            <!-- Add New Expense! -->
            <h3 class = "centered"> Add Expense </h3>
            <form class = "centered-list" action = "submit" method ="post">
                <label> Amount: <input id = "ammount" type ="number" name = "ammount" required/></label>
                <label> Description: <input id = "description" type ="text" name ="description"/> </label>
                <label> Account: <input id = "account" type = "text" name = "account" required/> </label>
                <label> Date: <input id = "date" type = "date" name ="date" required /> </label>
                <label><input class = "addButton" id = "addExpenseButton" type = "button" value = "Add" onclick="addExpense()"/></label>
            </form>
        </div>

    </div>
</body>
