<!DOCTYPE html>
<html lang= "en">

<head>
    <link rel="stylesheet" type="text/css" href="source/css/CSS.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Budgeteer will help you control your money and manage your expenses">
    <meta name="author" content="Tomás Carvalho">

    <title>Budgeteer</title>
</head>

<body>

    <nav>
        <a href = "index.html"> <img src = "source/imgs/logo.png" alt = "logo"/> </a>
        <a class = "header-link" href = "login.html"> Log In </a>
    </nav>
    <div class = "main">
        <div>

            <div class = "centered">
                <h1> Watch our Demonstration! </h1>
            </div>

            <div class = "centered">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xcJtL7QggTI" allowfullscreen></iframe>
            </div>

            <div class = "centered">
                <a href = "signup.html"><h2> Sign Up for FREE now!</h2> </a>
                <div class = "centered-list">
                    <ul>
                        <li> Keep an eye on your budget </li>
                        <li> Add expenses/income </li>
                        <li> Track your expenses </li>
                        <li> Set objectives! </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <footer>
        <a href = "#about.html">About</a>
        |
        <a href = "#legal.html">Legal</a>
    </footer>

</body>
</html>
