<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel="stylesheet" type="text/css" href="source/css/CSS.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Budgeteer will help you control your money and manage your expenses">
    <meta name="author" content="Tomás Carvalho">
    <title>Log In</title>
</head>

<body id = "logIn">
    <nav>
        <a href = "index.html"> <img src = "source/imgs/logo.png" alt = "logo"/> </a>
    </nav>
    <div class = "main">
        <h3>Log In</h3>
        <form method = "POST" action = "dashboard.html">
            <label> Email </label> <input id = "email" type = "email" name = "email" placeholder = "example@example.com" required/>
            <label> Password </label> <input id = "password" type = "password" name = "password" required/>
            <label>
                <input id = "log_in" type = "submit" value = "Login"/>
            </label>
        </form>
    </div>
    <script src = "source/javascript/javascript.js"></script>
</body>
</html>
