<!DOCTYPE html>
<html lang= "en">

<head>
    <link rel="stylesheet" type="text/css" href="source/css/CSS.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Budgeteer will help you control your money and manage your expenses">
    <meta name="author" content="Tomás Carvalho">

    <title>Budgeteer</title>
</head>
<body id = "manageObjectives">
    <nav class = "navbar">
        <ul class = "ul-menu">
            <li> <a class = "li-menu" href = "dashboard.html"> <img src = "source/imgs/logo1.png" alt = "logo"/> </a></li>
            <li> <a class = "li-menu" href = "dashboard.html"> Dashboard</a></li>
            <li> <a class = "li-menu" href = "manageAccounts.html"> Manage Accounts </a></li>
            <li> <a class = "li-menu active" href ="manageObjectives.html"> Manage Objectives </a></li>
            <li> <a class = "li-menu" style = "float:right" href = "index.html"> Log Out!</a></li>
        </ul>
    </nav>
    <div> <h1 class = "centered">Your Current Objectives Are</h1></div>
    <div>
        <table id = "tableObjManagement" class = "tableManagement centered-list widthCentered">
            <thead>
                <tr>
                    <th class = "thManagement">Objective Name</th>
                    <th class = "thManagement">Description</th>
                    <th class = "thManagement">Deadline</th>
                    <th class = "thManagement">Completed</th>
                    <th class = "thManagement">Delete</th>
                    <th class = "thManagement">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id = "row1_col1" contenteditable= "false" class = "tdManagement">Save 200€</td>
                    <td id = "row1_col2" contenteditable = "false" class = "tdManagement">Have more than 2000€ in total balance</td>
                    <td id = "row1_col3" contenteditable = "false" class = "tdManagement">2016-11-20</td>
                    <td class = "thManagement positive"> Yes</td>
                    <td class = "tdManagement">
                        <form method = "post">
                            <input type = "button" value = "Delete"/>
                        </form>
                    </td>
                    <td class = "tdManagement">
                        <button id = "editRow" value = "1">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td id = "row2_col1" contenteditable = "false" class = "tdManagement">Wallet management</td>
                    <td id = "row2_col2" contenteditable = "false" class = "tdManagement">Don't spend more than 50€ from Wallet account</td>
                    <td id = "row2_col3" contenteditable = "false" class = "tdManagement">2016-11-30</td>
                    <td class = "tdManagement negative">No</td>
                    <td class = "tdManagement">
                        <form method = "post">
                            <input type = "button" value = "Delete"/>
                        </form>
                    </td>
                    <td class = "tdManagement">
                        <button id = "editRow2" value = "2">Edit</button>
                    </td>
                </tr>
                <tr>
                    <td id = "row3_col1" contenteditable = "false" class = "tdManagement">Money for Christmas</td>
                    <td id = "row3_col2" contenteditable = "false" class = "tdManagement">Have more than 200€ on my Current account</td>
                    <td id = "row3_col3" contenteditable = "false" class = "tdManagement">2016-12-02</td>
                    <td class = "tdManagement">In Progress</td>
                    <td class = "tdManagement">
                        <form method = "post">
                            <input type = "button" value = "Delete"/>
                        </form>
                    </td>
                    <td class = "tdManagement">
                        <button id = "editRow3" value = "3">Edit</button>
                    </td>
                </tr>
            </tbody>

        </table>
        <div>
            <!-- Add New Objective! -->
            <h3 class = "centered"> Add Objective </h3>
            <form  class = "centered-list objetives" action = "submit" method ="post">
                <div class = "objectives">
                    <label>Name<input id = "name" type = "text" name = "name"></label>
                    <select id = "option" name = "options">
                        <option value = "Don't spend more than">Don't spend more than</option>
                        <option value = "Have more than">Have more than</option>
                    </select>
                    <label>Amount<input id = "amount" type = "number" name = "ammount" required/></label>
                    <select id = "account" name = "account">
                        <option value  = "Wallet">Wallet</option>
                        <option value = "Savings">Savings</option>
                        <option value = "Current Account">Current Account</option>
                        <option value = "Total Balance"> Total Balance</option>
                    </select>
                    <label>Dead-line<input id = "date" type = "date" name = "deadline" required/></label>
                    <label> <input id = "addObjectiveButton" class = "addButton" type = "button" value = "Add"/></label>

                </div>
            </form>
        </div>

    </div>
    <script src = "source/javascript/javascript.js"></script>
</body>
</html>
