.active {
    background-color: #4CAF50;
}
.addButton{
    width: 205px !important;
}

.centered{
    text-align: center;
}
.centered-list{
    width: 250px;
    margin:0 auto;
    text-align:left;
}
.header-link{
    float: right;
    clear: right;
}
.navbar-logo {
    color: green;
}
.main {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.ul-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
.li-menu {
    float: left;
    height: 25px;

}
.positive {
    color: green;
}
.negative {
    color: red;
}
.neutral {
    color: grey;
}
html, body{
    margin:0px;
    padding:0px;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
div form label{
    float:left;
    clear:left;
    width: 100px;
}
div form input{
    float: left;
}

footer {
    position:fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;

}
form {
    display: block;
    width: 100%;
}

label {
    text-align: left;
    clear: both;
    float: left;
    margin-right:15px;

}
input{
    width: 200px;
}
input[type="submit"]{
    width: auto;
}
input[type="button"]{
    width: auto;
}
.objectives input{
    display: inline-block;
}
select{
    width: 205px;
}
table, th, td {
    border: 1px solid black;
}
.tableManagement, .thManagement, .tdManagement{
    border: none !important;
    border-collapse: collapse !important;
}
th, td{
    text-align: center;
}
tr:hover {
    background-color: #f5f5f5
}
ul{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}
.widthCentered{
    width: 60%;
}
